{% extends 'aluno/base.html' %}

{% block dinamico %}
		<div class="container col-sm-8" >
			<div id="carousel-example-generic" class="carousel slide"  data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
{% for post_d in posts_destaque %}
					<div class="item {% if forloop.last %} active {% endif %} " >
						<a href="{% url 'post_detail' pk=post_d.pk %}">
							<img src="{{ post_d.photo.url }}" class="img-responsive" alt="">
						</a>
						<div class="carousel-caption">
							<h3>
									{{ post_d.title }}
							</h3>
						</div>
					</div>
{% endfor %}
				</div>

				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

	<div class="row">
		<section id="sobre-nos" class="container">

			<div class="panel-group col-sm-4" id="paineis-sobre">
		{% for post in posts %}
				<div class="panel panel-primary">
				  <div class="panel-heading" data-toggle="collapse" data-target="#noticia{{ post.id }}" data-parent="#paineis-sobre">
				    <h3 class="panel-title">
				    	<a href="{% url 'post_detail' pk=post.pk %}">
				    		{{ post.title }}
				    	</a>
				    </h3>
				  </div>
					<div class="collapse {% if forloop.first %} in {% endif %}" id="#noticia{{ post.id }}">
					  <div class="panel-body">
					  	<p>{{ post.text|linebreaksbr|slice:"0:300" }}</p>
					  </div>
					</div>
				</div>
		{% endfor %}
			</div>
		</section>
	</div>
	<button onclick="window.location.href='/posts'" class="btn btn-link">
		+ notícias
	</button>

	<div class="container">
{% endblock %}
